<div class="dashboard-container">
    <% if current_user %>
        <%= render "layouts/alerts" %>
        <h1 class="welcome">Welcome to your dashboard!</h1>
    <% else %>
        <%= flash[:error] = 'Sorry, but you must be logged in to view your dashboard.' %>
        <%= controller.redirect_to '/' %>
    <% end %>
    <p id='notice'><%= notice %></p>
</div>