<div class="container-fluid">
    <h1>Welcome to the Shinō Academy</h1>
    <p>Need an account? <%= link_to 'Register', register_path %></p>
    <p>Already have an account? <%= link_to 'Login', login_path %></p>
</div>
