// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard-container {
    height: 100%;
    text-align: center;
}

.dashboard-container h1 {
    margin: 1em 0 1em 0;
}

