<header role="banner">
    <nav role="navigation" class="nav-bar">
        <div class="nav-title">Message Board</div>
        <div class="nav-user"><%= current_user.email %></div>
        <div class="nav-logout"><%= link_to 'Log Out', '/logout' %></div>
    </nav>
</header>